.body{
    margin: 0px;
    padding: 0px;
    
}
.bg-container {
    background-image: url("/home/thrinath/testreactapplication/my-frontendtest/src/LoginPage/background-1.jpg");
    height: 100vh;
    width:100%;
    background-size: cover;
    filter: grayscale(10%);
    
}

.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
    color:aliceblue;
    text-align: center;
    height: 40vh;
    background-image: radial-gradient(circle, #850b7b, #7f1590, #7222a7, #5930be, #1d3dc0);
}
.input {
    width:30vw;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
    height: 4vh;
    border-radius: 50px;
    border-width: 1px;
    margin: 10px;
    font-size: 1vw;
    padding:15px;
    color: rgb(16, 17, 16);
    opacity: 80%;

}


.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    margin: 8px;

}
.btn-comtainer {

    margin-top: 15px;
}
svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
.error {
    color: red;
    margin-left: 20px;
    font-weight: 500;
}
.logo {
    width:15vw;
    height:5vh;
    margin-left: 1px;
    border-radius:5px;
    box-shadow: 10px 9px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) 
}