.body{
    margin: 0px;
    padding: 0px;
    
}
.bg-container {
    background-image: url("../LoginPage/background-1.jpg");
    height: 100vh;
    width:100%;
    background-size: cover;
    filter: grayscale(10%);
    
}
.container_card {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);  
    color:rgb(88, 9, 153);
    text-align: center;
    height: 40vh;
    background-color: white;
}
.input {
    width:30vw;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
    height: 4vh;
    border-radius: 50px;
    border-width: 1px;
    margin: 10px;
    font-size: 1vw;
    padding:15px;
    color: rgb(16, 17, 16);
    opacity: 80%;

}
.button-login {
    color:white;
    font-size:1vh;
    min-width: 6vw;
    height: 4vh;
    border-radius: 10px;
    border-width: 0px;
    margin: 8px;
    background-color: #3134f1;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
}

.btn-comtainer {
    margin-top: 15px;
}
.error {
    color: red;
    margin-left: 20px;
    font-weight: 500;
}
.logo {

    width:15vw;
    height:5vh;
    margin-left: 1px;
    border-radius:5px;
    box-shadow: 10px 9px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) 
}
.logo-1 {
    color:black
}
