.body {
    margin: 0px;
    padding: 0px;
    font-size: 0.8;
}
.bgconatainer {
    background-color: rgb(161, 211, 245);
    min-height:100vh;
    width:100%;
    background-size: cover;
 
}
.header-1 {
    background-color: rgb(229, 230, 240);
    color:white;
    height:5vh;
    box-shadow: 10px 9px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) 
}
/* .logo-container {
    display: flex;
    justify-content: ;
    align-items: center;
} */
.rhym-logo {
    width:12%;
    height:5vh;
}


